{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::Login:::</title>
    <link href="/static/frontapp/css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrap" class="wrap">
    <div>
        <header class="header" role="banner">
            <div class="header_inner">
                <a href="/" class="logo">
                    <h1>Index</h1>
                </a>
                <div class="language" id="local_switch">
                    <select id="local_switch" name="local_switch" title="언어선택" class="sel">
                        <option value="ko_KR">한국어</option>
                        <option value="en_US">English</option>
                    </select>
                </div>
            </div>
        </header>
        <div id="container" class="container">
            <div class="content">
                <form id="frmNIDLogin" name="frmNIDLogin" target="_top" AUTOCOMPLETE="off"
                    action="/nonmodel/login_chk/" method="POST">
                        {% csrf_token %}
                    <ul class="panel_wrap">
                        <li class="panel_item" style="display: block;">
                            <div class="panel_inner" role="tabpanel" aria-controls="loinid">
                                <div class="id_pw_wrap">
                                    <div class="input_row" id="id_line">
                                        <input type="text" id="id" name="mem_id" placeholder="아이디" title="아이디"
                                            class="input_text" maxlength="41" value="" required>
                                    </div>
                                    <div class="input_row" id="pw_line">
                                        <input type="password" id="pw" name="mem_pass" placeholder="비밀번호" title="비밀번호"
                                            class="input_text" maxlength="16" required>
                                    </div>
                                </div>
                                <div class="login_keep_wrap" id="login_keep_wrap">
                                    <div class="keep_check">
                                        <input type="checkbox" id="keep" name="nvlong" class="input_keep" value="off">
                                        <label for="keep" class="keep_text">로그인 상태 유지</label>
                                    </div>
                                </div>
                                <div class="btn_login_wrap">
                                    <button type="submit" class="btn_login" id="log.login">
                                        <span class="btn_text">로그인</span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
                </div>
                <ul class="find_wrap" id="find_wrap">
                    <li>
                        비밀번호를 잊으셨나요?<a href="/front/findpw/" class="find_text">비밀번호 찾기</a>
                    </li>
                    <li>
                        아이디를 잊으셨나요?<a href="/front/findid/" class="find_text">아이디 찾기</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>