<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracleapp ::: 상품분류정보-전체조회</title>
    <script type="text/javascript">
        // 저장하기
        function goInsertView(){
            location.href = "/oracle/lprod_insert_view/";
        }
    </script>
</head>
<body>
    <h3>상품분류정보 - 목록</h3>
    <hr>
    <button onclick="goInsertView()">[상품분류 등록하기]</button>
    <table border="1">
        <tr>
            <th>상품분류ID</th>
            <th>상품분류코드(GU)</th>
            <th>상품분류명</th>
        </tr>
        {% for row in lprod_list %}
        <tr>
            <td>{{ row.lprod_id }}</td>
            <td>
                <a href="/oracle/lprod_view/?lprod_gu={{row.lprod_gu}}">
                    {{ row.lprod_gu }}</a>
            </td>
            <td>{{ row.lprod_nm }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>