<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracleapp ::: 상품부뉴정보-상세조회</title>
    <script type="text/javascript">
        function goList(){
            location.href = "/oracle/lprod_list/"
        }

        function goUpdateView(){
            url = "/oracle/lprod_update_view/";
            url += "?lprod_gu={{lprod_gu}}";

            //alert(url);
            location.href = url;
        }

        function goDelete(){
            url = "/oracle/lprod_delete/";
            url += "?lprod_gu={{lprod_gu}}";

            //alert(url);
            location.href = url;
        }
    </script>
</head>
<body>
    <h3>주문정보 - 상세</h3>
    <hr>
    <table border="1">
        <tr>
            <th>상품분류ID</th>
            <th>상품분류코드(GU)</th>
            <th>상품분류명</th>
        </tr>
        <tr>
            <td>{{ lprod_view.lprod_id }}</td>
            <td>{{ lprod_view.lprod_gu }}</td>
            <td>{{ lprod_view.lprod_nm }}</td>
        </tr>
    </table>
    <hr>
    <button onclick="goList()">목록</button>
    <button onclick="goUpdateView()">수정</button>
    <button><a href="/oracle/lprod_delete/?lprod_gu={{lprod_gu}}">삭제</a></button>
</body>
</html>