<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracleapp ::: 상품분류정보-주문페이지</title>
    <script type="text/javascript">
        function goBack(){
            history.go(-1);
        }

        function goInsert(){
            fm = document.getElementById("fm");
            fm.action = "/oracle/lprod_insert/";
            fm.submit();
        }
    </script>
</head>
<body>
<form id="fm" method="post" action="#">
    {% csrf_token %}

    <h3>상품분류정보 - 입력 페이지</h3>
    <hr>
    <table border="1">
        <tr>
            <th>상품분류ID</th>
            <th>상품분류코드(GU)</th>
            <th>상품분류명</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="lprod_id" 
                        value="10">
            </td>
            <td>
                <input type="text" name="lprod_gu" 
                        value="P404">
            </td>
            <td>
                <input type="text" name="lprod_nm" 
                        value="넌누구?">
            </td>
        </tr>
    </table>
</form>    
    <hr>
    <button onclick="goBack()">취소</button>
    <button onclick="goInsert()">저장</button>
</body>
</html>