<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracleapp ::: 주문정보-수정페이지 조회</title>
    <script type="text/javascript">
        function goBack(){
            // alert("goBack");
            history.go(-1);
        }

        function goUpdate(){
            fm = document.getElementById("fm");
            fm.action = "/oracle/cart_update/";
            fm.submit();
        }
    </script>
</head>
<body>
<form id="fm" method="post" action="#">
    {% csrf_token %}
    <input type="hidden" name="cart_no" value="{{ cart_no }}">
    <input type="hidden" name="cart_prod" value="{{ cart_prod }}">

    <h3>주문정보 - 수정 페이지</h3>
    <hr>
    <table border="1">
        <tr>
            <th>주문번호</th>
            <th>회원아이디</th>
            <th>주문상품번호</th>
            <th>주문수량</th>
        </tr>
        <tr>
            <td>{{ cart_view.cart_no }}</td>
            <td>{{ cart_view.cart_member }}</td>
            <td>{{ cart_view.cart_prod }}</td>
            <td>
                <input type="text" name="cart_qty" 
                        value="{{ cart_view.cart_qty }}">
            </td>
        </tr>
    </table>
</form>    
    <hr>
    <button onclick="goBack()">취소</button>
    <button onclick="goUpdate()">수정</button>
</body>
</html>