<style>
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
</style>
<ul>
    <li><a href="/">메인화면</a></li>
    <li><a href="/register/">회원가입</a></li>
    <li><a href="/data_info/">데이터 출처</a></li>
    <li><a href="/recom/">영양제 추천</a></li>
    <li><a href="/statistic/">통계</a></li>
</ul>
