<script>
</script>
당신이 걸리기 쉬운 질병 :
<select id="age" name="age"required>
    <option value="">-- 선택하세요 --</option>
    <option value="10대">10대</option>
    <option value="20대">20대</option>
    <option value="30대">30대</option>
    <option value="40대">40대</option>
    <option value="50대">50대</option>
    <option value="60대">60대이상</option>
</select>

모든 질병 :
<select id="age" name="age" required>
    <option value="">-- 선택하세요 --</option>
    <option value="10대">10대</option>
    <option value="20대">20대</option>
    <option value="30대">30대</option>
    <option value="40대">40대</option>
    <option value="50대">50대</option>
    <option value="60대">60대이상</option>
</select>
