<style>
    form {
        display: flex;
        align-items: center;
      }
          
      input[type="email"],
      input[type="password"] {
        width: 200px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        flex-grow: 1;
      }
    
</style>
    <div>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required />

        <br />

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required />
    </div>
    
