<!--
    - html 주석....
    - html 입력 후 : html:5 선택하면 기본 html 코드 템플릿이 만들어짐
-->
<!DOCTYPE html>
<html>
<!--
    * html 파일을 -> 웹페이지라고 칭합니다.
     - 페이지 만들기라는 작업은 -> html 파일을 만든다라고 보시면 됩니다.

    * Web Front-End 프로그램 
     - html : 그림 그리는 작업(글씨쓰기, 표그리기 등등)
            : 프로그램이라고 칭하지 않고 -> 태그 코드 또는 코드라고 칭합니다.
     - css  : 그림에 스타일 입히는 작업(글씨 스타일, 표스타일 등등)
            : 코드 또는 스타일이라고 칭합니다.
     - javascript : 페이지 전환 등의 이벤트 처리 작업(url과 url 이동, 데이터 전송 등등)
                  : 프로그래밍이라고 칭합니다.(C프로그램 문법을 기반으로 합니다.)

    * head 영역 : css 또는 javascript 등의 코드 정의
    * body 영역 : 웹브라우저에 보여지는 html 코드 정의
                : css 또는 javascript 등의 코드도 정의 가능
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: Django-FirstApp-Index페이지 :::</title>
</head>
<body>
    <h3>MainApp</h3>
    <p>
        <a href="/">[MainApp으로 가기..]</a>
    </p>
    <h3>FirstAPP</h3>
    <p>
        <a href="/first/template01/">
            [getTemplate() 페이지 처리 바로가기]</a>
    </p>
</body>
</html>