<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FIRSTAp-template01 페이지 :::</title>
</head>
<body>
    <!-- br태그는 단독으로 사용하는 태그 -->
    <!-- 
        - 파이썬 프로그램을 사용할 경우에는 중괄호{} 하나 사용
        - 파이썬 프로그램을 이용해서 데이터를 출력할 때는 
          중괄호{}를 하나더 사용(views에서 넘겨준 key값을 사용)
        - HTML은 딕셔너리 타입을 통해 데이터를 주고 받습니다.
        - 딕셔너리 타입을 웹에서는 JSon 데이터라고 통칭합니다.
    -->
    <p>
        <h3>FirstApp-Index 바로가기</h3>
        <a href="/first/">FirstApp-Index 바로가기</a>
    </p>

    접속하신 회원의 이름은 <b>{{mem_name}}</b>이고, <br/>
    주소는 <b>{{mem_add}}</b>에 살고 있어요.
</body>
</html>