<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: OracleApp-Index 페이지 :::</title>
</head>
<body>

    <p>
        <a href="/">[MainApp으로 바로가기]</a>
    </p>
    <p>
        <!-- 주문하기 실습 처리 시작 -->
        <h5>주문하기 실습 처리 시작</h5>
        <a href="/oracle/product/">[주문하기 페이지 바로가기]</a>
        <br/>


        <!-- 회원정보(Member) 처리 시작 -->
        <h5>회원정보(Member) 처리 시작</h5>
        <a href="/oracle/mem_list/">[mem_list 페이지 바로가기]</a>
        <br/>

        <!-- 주문정보(Cart) 처리 시작 -->
        <h5>주문정보(Cart) 처리 시작</h5>
        <a href="/oracle/cart_list/">[cart_list 페이지 바로가기]</a>
        <br/>

        <!-- 상품분류정보(Lprod) 처리 시작 -->
        <h5>상품분류정보(Lprod) 처리 시작</h5>
        <a href="/oracle/lprod_list/">[lprod_list 페이지 바로가기]</a>
        <br/>

        <!-- 상품정보(Prod) 처리 시작 -->
        <h5>상품정보(Prod) 처리 시작</h5>
        <a href="/oracle/prod_list/">[prod_list 페이지 바로가기]</a>
        <br/>

        <!-- 주문 + 회원정보(cart + member) 처리 시작 -->
        <h5>주문 + 회원정보(cart + member) 처리 시작</h5>
        <a href="/oracle/cart_mem_list/">[cart_mem_list 페이지 바로가기]</a>
        <br/>

        <!-- 주문 + 회원정보 + 상품정보(cart + member + prod) 처리 시작 -->
        <h5>주문 + 회원정보 + 상품정보(cart + member + prod) 처리 시작</h5>
        <a href="/oracle/cart_mem_prod_list/">[cart_mem_prod_list 페이지 바로가기]</a>
        <br/>
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>