<!-- settings.py에 정의한 static 정보 가지고 오기 -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-02_link :::</title>
    <!-- javascript 함수 정의하기 -->
    <script type="text/javascript">
        // 자바스크립트 한줄 주석
        /* 자바스크립트 블럭 단위 주석 */
        /*
            - 자바스크립트 함수의 시작은 function으로 시작
            - 뒤에 작성하는 함수이름과 매개변수는 파이썬 함수와 동일
            - 함수의 시작과 끝은 중괄호를 열고 닫아야 함 {}
              (파이썬에서는 콜론(:) 및 들여쓰기를 사용했음)
            - 자바스크립트는 모든 문장의 끝에 세미콜론(;)으로 문장의 끝을 알려줘야함
              (파이썬은 줄바꿈으로 처리 되었음)
        */
        function linkView(url) {
            location.href = url;
        }
    </script>
</head>
<body>
    <p>
        <a href="/front/">[FrontApp-Index 바로가기]</a>
    </p>
    <p>
        02_link 페이지 입니다.
    </p>
    <a href="http://www.naver.com">[Naver 바로가기]</a>
    <br/>
    <a href="http://www.daum.net">[Daum 바로가기]</a>
    <br/>
    <!-- 페이지 전환이 안되는 링크처리 -->
    <a href="#">#을 사용하면 페이지 전환 못함</a>
    <br/>
    <!-- Javascript를 이용해서 링크(페이지 전환) 처리하기 -->
    <a href="javascript:location.href='http://www.daum.net';">
        JS를 이용한 다음 바로가기</a>
    <br/>
    <a href="javascript:linkView('http://www.naver.com');">
        JS 함수 이용한 네이버 바로가기</a>
    <br/>
    <!-- 이미지 넣기 -->
    <!--  
        * 이미지를 넣기 위한 사전 설정이 필요함
         - 웹서버가 이미지 파일의 위치를 알고 있어야 하기 때문에
         - settings.py에 각 app에서 이미지를 관리할 폴더를 설정해야 합니다.

         * 이미지 태그 img : 닫는 태그가 없음
          - src : 이미지 파일의 위치 지정
          - width : 이미지 너비 사이즈 정의
          - height : 이미지 높이 사이즈 정의
    -->
    <img src="/static/frontapp/images/dog.jpg">
    <img src="/static/frontapp/images/dog.jpg"
         width="800" height="600">
    <br/>
    <!-- 이미지에 링크 처리하기 -->
    <a href="http://www.daum.net">
        <img src="/static/frontapp/images/dog.jpg">
    </a>
    <br/>
    <!-- 이미지 경로(src)를 서버 설정을 이용해서 작성하기
         - 파이썬 문법 사용 
         - HTML에서 파이썬 문법을 사용하는 방법
           * 데이터를 값을 출력할 때는 중괄호 2개 사용 : 
             - 값을 출력할 때 사용
           * 파이썬 프로그램을 작성하기 위해서는 중괄호에 퍼센트 사용 : 
    -->
    <img src="{% static 'frontapp/images/dog.jpg' %}">


    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>