<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-03_css :::</title>
</head>
<body>
    <p>
        <!-- color : 글자 색상 -->
        <a href="/front/" style="color: aqua; 
                                background-color: blue;">
            [FrontApp-Index 바로가기]
        </a>
    </p>
    
    <!-- 수평선 넣기 태그 -->
    <hr/>  

    <p>
        03_css 페이지 입니다.
    </p>

    <!-- 수평선 넣기 태그 -->
    <hr/>  

    <!-- 텍스트 굵게 표시하기 h1~6 사이의 값 사용 -->
    <!-- 태그 내부에 스타일 속성 적용하기
         - style 속성을 사용
         - style 속성에 들어가는 값은 
           딕셔너리 형태인 key:value 형태로 작성함
         - background-color : 배경색 지정
    -->
    <h3 style="background-color: rgb(10, 100, 0);
                color: white;">
        css 테스트
    </h3>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>