<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-04_css :::</title>
    <!-- 스타일을 head 영역에 정의하기 
        * 작성방법
         - style 태그의 시작과 끝을 만들어서 스타일 작성 영역 정의
         - 스타일을 적용하고자 하는 태그 이름, 또는 class 속성 이름, 또는 id 속성 이름을
           처음에 작성
         - 이름 뒤에 중괄호 열고 닫기로 영역 지영 
           (이때 중괄호는 딕셔너리 타입의 중괄호를 의미함)
    -->
    <style>        
        a {
            background-color: brown;
            color: aqua;
        }

        h3 {
            background-color: black;
            color: greenyellow;
        }
    </style>
</head>
<body>
    <p>
        <!-- color : 글자 색상 -->
        <a href="/front/">
            [FrontApp-Index 바로가기]
        </a>
    </p>
    
    <!-- 수평선 넣기 태그 -->
    <hr/>  

    <p>
        04_css 페이지 입니다.
    </p>

    <!-- 수평선 넣기 태그 -->
    <hr/>  

    <!-- 텍스트 굵게 표시하기 h1~6 사이의 값 사용 -->
    <!-- 태그 내부에 스타일 속성 적용하기
         - style 속성을 사용
         - style 속성에 들어가는 값은 
           딕셔너리 형태인 key:value 형태로 작성함
         - background-color : 배경색 지정
         - color : 글자색 지정
    -->
    <h3>
        css 테스트
    </h3>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>