<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-05_css :::</title>
    <!-- 스타일을 head 영역에 정의하기 
        * 외부에 있는 css 파일을 적용하는 방법
         - link 태그사용
    -->
    <!--
        * css or javascript의 경우 적용방법을
           3가지를 사용할 수 있다는 점은 모두 동일함

        * 적용방법 우순선위(2가지 이상을 사용한 경우에..)
          태그 내 > head 내 > 외부파일
    -->
    <link href="/static/frontapp/css/front.css"
            rel="stylesheet" type="text/css">    
</head>
<body>
    <p>
        <!-- color : 글자 색상 -->
        <a href="/front/">
            [FrontApp-Index 바로가기]
        </a>
    </p>
    
    <!-- 수평선 넣기 태그 -->
    <hr/>  

    <p>
        05_css 페이지 입니다.
    </p>

    <!-- 수평선 넣기 태그 -->
    <hr/>  

    <!-- 텍스트 굵게 표시하기 h1~6 사이의 값 사용 -->
    <!-- 태그 내부에 스타일 속성 적용하기
         - style 속성을 사용
         - style 속성에 들어가는 값은 
           딕셔너리 형태인 key:value 형태로 작성함
         - background-color : 배경색 지정
         - color : 글자색 지정
    -->
    <h3>
        css 테스트
    </h3>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>