<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-06_css :::</title> 
    <!--
        * css에서는 특정 태그를 지정하기 위해서 id 또는 class 속성을 사용
         - id의 값은 html 페이지 내에서 고유한 값을 지정하며,
           샵(#)을 이용하여 지정
         - class의 값은 같은 값으로 여러개 지정 가능
           점(.)을 이용하여 지정
    --> 
    <style>
        p {
            background-color: black;
            color: yellow;
        }

        a {
            color: yellow;
        }

        #p1 {
            background-color: blue;
            font-size: 5px;
            border: 1px solid red;
            padding: 50px;
            margin: 50px;
        }

        .p2 {
            background-color: green;
            font-size: 20px;
            border: 10px solid red;
        }
    </style>
</head>
<body>
    <p>
        <!-- color : 글자 색상 -->
        <a href="/front/">
            [FrontApp-Index 바로가기]
        </a>
    </p>
    
    <!-- 수평선 넣기 태그 -->
    <hr/>  

    <p>
        06_css 페이지 입니다.
    </p>

    <hr/>
    <p id="p1">
        스타일 적용1....
    </p>
    <p class="p2">
        스타일 적용2....
    </p>
    <p>
        스타일 적용3....
    </p>
    <p class="p2">
        스타일 적용4....
    </p>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>