<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-09_mem :::</title>
</head>
<body>
    <p>
        <a href="/front/">
            [FrontApp-Index 바로가기]
        </a>
    </p>    
    <!-- 수평선 넣기 태그 -->
    <hr/>  
    <p>
        09_mem 페이지 입니다.
    </p>

    메시지는 : {{msg}}

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>