<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-12_div :::</title>
    <style>
        /* div 전체 적용하기 */
        div {
            padding: 20px;
            margin: 20px;
        }

        div.div13 {
            background-color: yellow;
            color: blue;
        }

        div.div24 {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <p>
        <a href="/front/">
            [FrontApp-Index 바로가기]
        </a>
    </p>    
    <!-- 수평선 넣기 태그 -->
    <hr/>  
    <p>
        12_div 페이지 입니다.
    </p>
    <hr>

    <!--
        (div 태그)
         - 영역을 만들 때 사용하는 태그(블록 영역)
         - 영역을 설정 할 뿐, 다른 기능은 없음
         - 주로 스타일 시트에서 영역에 대한 스타일 지정
         - 보통 레이어 구성(화면구성)시에 사용되는 경우가 많음
    -->
    <div class="div13">
        <h5>div 블록태그1</h5>
        <p>
            Django 프로그램 어려워요~~ㅠㅠ <br/>
            쉬었다가 해요~~~^-^ <br/>
        </p>
    </div>
    <div class="div24">
        <h5>div 블록태그2</h5>
        <p>
            Django 프로그램 어려워요~~ㅠㅠ <br/>
            쉬었다가 해요~~~^-^ <br/>
        </p>
    </div>
    <div class="div13">
        <h5>div 블록태그3</h5>
        <p>
            Django 프로그램 어려워요~~ㅠㅠ <br/>
            쉬었다가 해요~~~^-^ <br/>
        </p>
    </div>
    <div class="div24">
        <h5>div 블록태그4</h5>
        <p>
            Django 프로그램 어려워요~~ㅠㅠ <br/>
            쉬었다가 해요~~~^-^ <br/>
        </p>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>