<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: FrontApp-20_radioButton :::</title>  
    <script type="text/javascript">
        function goSubmit(){
            // alert("ok...");
            fm = document.getElementById("fm");
            mem_addr = fm.mem_addr.value;
            // alert(mem_addr);
            // HTML에서 입력되는 모든 값은 문자열로 처리됩니다.
            //  - 전송될 때도 문자열, views에서 받아온 경우에도 문자열 입니다.
            //  - views 쪽에서 숫자타입으로 바꾸고자 할 경우에는
            //    파이썬 타입변경을 해야 합니다. int(request.POST["age"])
            if(mem_addr == ""){
                alert("지역을 입력해 주세요!");
                fm.mem_addr.focus();
                return;
            }

            // action : 요청하고자하는 URL 주소값만 정의
            //        : 아직 전송되지는 않음..
            fm.action = "/front/21_radio/";
            // 실제 요청 URL로 전송시키기(요청하기)
            fm.submit();
        }

        // Radio 버튼 선택 해제하기
        function radioReload(){
            // alert("ok.....");
            fm = document.getElementById("fm");
            // alert(fm.mem_addr1.value);
            // alert(fm.mem_addr1.length);
            for(i=0; i<fm.mem_addr1.length; i++){
                // alert(fm.mem_addr1[i].checked);  
                if(fm.mem_addr1[i].checked == true){
                    fm.mem_addr1[i].checked = false;
                    break;
                }                              
            }
        }

        // 페이지 전체 초기화하기
        function allReload(){
            // alert("ok....");
            // 현재 페이지를 다시 읽어들여라...
            location.reload();
        }

        
    </script>
</head>
<body>
    <p>
        <!-- color : 글자 색상 -->
        <a href="/front/">
            [FrontApp-Index 바로가기]
        </a>
    </p>
    <!-- 수평선 넣기 태그 -->
    <hr/>  
    <p>
        20_radioButton 페이지 입니다.
    </p>
    <hr>

    <form id="fm" method="post" action="/front/21_radio/">
        {% csrf_token %}
        * 지역 : 
        <input type="text" name="mem_addr">
        <br>
        <!--
            (radio 버튼)
             - name은 같은 이름을 사용합니다.
             - 선택된 값 1개만 전송됩니다.
             - 같은 name에 여러개 radio가 있는 경우
                * 선택된 한개만 유지 시킴(선택 이후에는 선택해제 안됨)
                * 선택해제 할려면 프로그램 처리가 필요함
             - radio 버튼은 value 속성에 의미하는 값을 넣어줘야 합니다.
        -->
        * 지역선택 : 
        서울<input type="radio" name="mem_addr1" value="서울">
        부산<input type="radio" name="mem_addr1" value="부산">
        광주<input type="radio" name="mem_addr1" value="광주">
        대전<input type="radio" name="mem_addr1" value="대전">
        <hr>
        <input type="button" value="전송하기" onclick="goSubmit()">
        <input type="button" value="Radio버튼 초기화하기" onclick="radioReload()">
        <input type="button" value="전체 초기화하기" onclick="allReload()">
        <input type="submit" value="바로전송">
    </form>








    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>