<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracleapp ::: 주문정보-전체조회</title>
    <script type="text/javascript">
        // 상세보기
        function goCartView(cart_no, cart_prod){
            url = "/oracle/cart_view/"
            url += "?cart_no=" + cart_no;
            url += "&cart_prod=" + cart_prod;
            // alert(url);
            location.href = url;
        }

        // 주문하기
        function goInsertView(){
            location.href = "/oracle/cart_insert_view/";
        }
    </script>
</head>
<body>
    <h3>주문정보 - 목록</h3>
    <hr>
    <button onclick="goInsertView()">[주문하기]</button>
    <table border="1">
        <tr>
            <th>주문번호</th>
            <th>회원이름</th>
            <th>주문상품이름</th>
            <th>주문수량</th>
        </tr>
        {% for row in cart_list %}
        <tr>
            <td>
                <a href="javascript:goCartView('{{ row.cart_no }}', '{{ row.cart_prod }}');">
                    {{ row.cart_no }}</a>
            </td>
            <td>{{ row.cart_member.mem_name }}</td>
            <td>{{ row.cart_prod.prod_name }}</td>
            <td>{{ row.cart_qty }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>