<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracleapp ::: 상품정보-수정페이지 조회</title>
    <script type="text/javascript">
        function goBack(){
            history.go(-1);
        }

        function goUpdate(){
            fm = document.getElementById("fm");
            fm.action = "/oracle/prod_update/";
            fm.submit();
        }
    </script>
</head>
<body>
<form id="fm" method="post" action="#">
    {% csrf_token %}
    <input type="hidden" name="prod_id" value="{{ prod_id }}">

    <h3>상품정보 - 수정 페이지</h3>
    <hr>
    <table border="1">
        <tr>
            <th>상품코드</th>
            <th>상품명</th>
            <th>상품분류코드</th>
            <th>매입가격</th>
            <th>소비자가격</th>
            <th>판매가격</th>
        </tr>
        <tr>
            <td>{{ prod_view.prod_id }}</td>
            <td>
                <input type="text" name="prod_name" 
                        value="{{ prod_view.prod_name }}">
            </td>
            <td>{{ prod_view.prod_lgu }}</td>
            <td>
                <input type="text" name="prod_cost" 
                        value="{{ prod_view.prod_cost }}">
                    </td>
            <td>
                <input type="text" name="prod_price" 
                        value="{{ prod_view.prod_price }}">
                    </td>
            <td>
                <input type="text" name="prod_sale" 
                        value="{{ prod_view.prod_sale }}">
                    </td>
        </tr>
    </table>
</form>    
    <hr>
    <button onclick="goBack()">취소</button>
    <button onclick="goUpdate()">수정</button>
</body>
</html>