<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracleapp ::: 상품정보-전체조회</title>
</head>
<body>
    <h3>상품정보 - 목록</h3>
    <hr>
    <table border="1">
        <tr>
            <th>상품코드</th>
            <th>상품명</th>
            <th>상품분류코드</th>
        </tr>
        {% for row in prod_list %}
        <tr>
            <td>
                <a href="/oracle/prod_view/?prod_id={{ row.prod_id }}">
                    {{ row.prod_id }}</a>
            </td>
            <td>{{ row.prod_name }}</td>
            <td>{{ row.prod_lgu }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>