<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Adding Chosen jQuery plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
        <title>My Website</title>
        <script>
            $(document).ready(function(){
                $(".chosen-select").on('mousedown', function(e){
                    e.preventDefault();
                    
                    var select = this;
                    var scroll = select.scrollTop;
                    
                    e.target.selected = !e.target.selected;
                    
                    setTimeout(function(){select.scrollTop = scroll}, 0);
                    
                    $(select).focus();
                }).mousemove(function(e){e.preventDefault()});
                $(".chosen-select").chosen({
                    no_results_text: "검색 결과가 없습니다",
                    width: "30%",
                    search_contains: true
                });
            });


            function userdis_in() {
                fm = document.getElementById("fm");
                fm.action = "/dis_add/";
                fm.submit();
            }


    // 배열을 쿼리 문자열로 변환합니다.
    var queryString = $.param({ 'dis_id': selectedValues }, true);

    // 쿼리 문자열을 URL에 추가하고 요청을 보냅니다.
    $("#insert_view").load(`/sign/?id=${ses_user_id}&${queryString}`);
        </script>
    </head>
    <body>
        <form id="fm" name="fm" method="post" action="#">
            {% csrf_token %}
            <input type="hidden" name= "user_id" value={{request.session.ses_user_id}}>
            <div>
                <label>당신이 아픈곳:</label>
                <select>
                    {% for dis in dis_list %}
                    <option value="{{dis.md_middle}}">{{dis.md_middle}}</option>
                    {% endfor %}
                </select>
                <label>추가하실 아픈곳:</label>
                <select class="chosen-select" id="chosen-select" name="dis_middle" multiple>
                    {% for dis in dis_new %}
                        <option value="{{dis.dis_middle}}">{{dis.dis_middle}}</option>
                    {% endfor %}
                </select>
            </div>
            <button onclick="userdis_in()">아픈곳 : 추가하기</button>
        </form>
    </body>
</html>
