<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% include 'mainapp/inc/navbar.html' %}
        <form action="/register" method="post">
            <label for="email">이메일 주소:</label>
            <input type="email" id="email" name="email" required><br><br>
        
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button>로그인</button>
        </form>
        <a href="/register/"><button>회원가입</button></a>
    </body>
</html>
