<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Website</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $(".chosen-select").on('mousedown', function(e){
                e.preventDefault();
                
                var select = this;
                var scroll = select.scrollTop;
                
                e.target.selected = !e.target.selected;
                
                setTimeout(function(){select.scrollTop = scroll}, 0);
                
                $(select).focus();
            }).mousemove(function(e){e.preventDefault()});
            $(".chosen-select").chosen({
                no_results_text: "검색 결과가 없습니다",
                width: "95%",
                search_contains: true
            });
        });
        </script>
        <style>
            select {
                width: 200px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 10px;
                flex-grow: 1;
            }

            button {
                padding: 10px 20px;
                background-color: #4caf50;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                flex-grow: 1;
            }

            button:hover {
                background-color: #45a049;
            }

            label {
                margin-bottom: 5px;
                font-weight: bold;
                flex-shrink: 0;
            }
            #showlist {
                display: none;
            }
        </style>
        <script>
            
            var selectCount = 0; // 추가된 셀렉트 박스의 수를 추적하는 변수

            function newbox() {
                ageSelect = document.getElementById("age");
                genderSelect = document.getElementById("gender");

                if (
                    ageSelect.value &&
                    genderSelect.value &&
                    selectCount === 0
                ) {
            
                    document.getElementById("showlist").style.display = "block";

                    selectCount++; // 추가된 셀렉트 박스의 수를 증가시킴
                }
            }
            $(document).ready(function(){
                $('#age').on('change', function(){
                    $.ajax({
                        type : 'post',
                        url : '/register1/',
                        data : queryString,
                        dataType : 'json',
                        error: function(xhr, status, error){
                            alert(error);
                        },
                        success : function(json){
                            alert(json)
                        }
                    });
                    $("#load_view").load("/register1/");
                })
            });
        </script>
    </head>
    <body>
        {% include 'mainapp/inc/navbar.html' %}
        <form id="fm" name="fm" method="post" action="#">
            {% csrf_token %}
            {% include 'mainapp/inc/register.html' %}
            <div>
                <label for="age">연령:</label>
                <select id="age" name="age" onchange="newbox()" required>
                    <option value="">-- 선택하세요 --</option>
                    <option value="10세 미만">10세 미만</option>
                    <option value="10대">10대</option>
                    <option value="20대">20대</option>
                    <option value="30대">30대</option>
                    <option value="40대">40대</option>
                    <option value="50대">50대</option>
                    <option value="60대">60대</option>
                    <option value="70대">70대 이상</option>
                </select>

                <br />

                <label for="gender" onchange="newbox()">성별:</label>
                <select id="gender" name="gender" onchange="newbox()" required>
                    <option value="">-- 선택하세요 --</option>
                    <option value="남성">남성</option>
                    <option value="여성">여성</option>
                </select>
                <div id="showlist">
                    <div>
                        <label for="gender" onchange="newbox()">당신이 아픈 곳은:</label>
                        <select id="dis_middle" name="dis_middle" required>
                            {% for dis in dis_middle %}
                            <option value="middle_id">{{dis.dis_middle}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id = "load_view">
                    </div>
                    <div>
                        <label for="disease" onchange="newbox()">질병을 검색하세요:</label>
                        <select id="disease" name="disease" class="chosen-select" multiple required>
                            {% for dis in dis_list %}
                            <option value="{{dis.dis_id}}">{{dis.dis_id}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br />
                </div>
                <button type="submit">가입</button>
            </div>
        </form>
    </body>
</html>


