{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: MAINApp-Main 페이지 :::</title>    
    <link rel="stylesheet" 
            href="{% static 'frontapp/css/main.css' %}">
</head>
<body>
    <!-- Layout 구성하기 -->

    <!-- 상단 영역 -->
    <div id="header">
        {% include 'frontapp/inc/hearder.html' %}
    </div>
    <!-- 카테고리-네비게이션 영역 -->
    <div id="nav">
        {% include 'frontapp/inc/nav.html' %}
    </div>


    <h3>FirstApp</h3>
    <p>
        * <a href="/first/">[FirstApp Index로 가기]</a>
    </P>

    <h3>SecondApp</h3>
    <p>
        * <a href="/second/">[SecondApp Index로 가기]</a>
    </P>

    <h3>FrontApp</h3>
    <p>
        * <a href="/front/">[FrontApp Index로 가기]</a>
    </P>

    <!-- 하단 영역 -->
    <div id="footer">
        {% include 'frontapp/inc/footer.html' %}
    </div>
</body>
</html>