/* id=header에 대한 상단영역 스타일 지정
    - 배경색 : 검정
    - 글자색 : 흰색
    - 텍스트정렬 : 중앙
    - 안쪽여백 : 5px
*/
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
/* id=nav에 대한 네비게이션영역 스타일 지정 
    - 배경색 : 노랑
    - 너비 사이즈 : 100%
    - 높이 사이즈 : 30px
    - 안쪽여백 : 5px
    - 글자정렬 : 중앙
*/
#nav {
    background-color: yellow;
    height: 30px;
    padding: 5px;
    text-align: center;
}

/* id=section1에 대한 본문영역 스타일 지정 
    - 배경색 : 보라색
    - 글자색 : 흰색
    - 안쪽여백 : 5px
    - 너비 : 50%
*/
#section1 {
    background-color: blueviolet;
    color: white;
    width: 50%;
    /* 다음 영역을 붙이기 */
    float: left;
}

/* id=section2에 대한 본문영역 스타일 지정 */
#section2 {
    background-color: brown;
    color: white;
    width: 50%;
    /* 다음 영역을 붙이기 */
    float: left;
}

/* id=footer에 대한 하단영역 스타일 지정 */
#footer {
    background-color: aqua;
    text-align: center;
    padding: 5px;            
    /* 다음 영역을 붙이기 해제 */
    clear: both;
}