<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OracleApp ::: 회원 전체 조회하기</title>
</head>
<body>
    <h3>회원관리 - 목록</h3>
    <hr>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>패스워드</th>
            <th>이름</th>
            <th>주소1</th>
        </tr>
        {% for row in mem_list %}
        <tr>
            <td>{{ row.mem_id }}</td>
            <td>{{ row.mem_pass }}</td>
            <td><a href="/oracle/mem_view/?mem_id={{row.mem_id}}">
                {{ row.mem_name }}</a>
            </td>
            <td>{{ row.mem_add1 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>