<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OracleApp ::: 회원 수정 하기</title>
    <script type="text/javascript">
        // 취소
        function goBack(){
            // alert("goBack");
            history.go(-1);
        }

        // 수정페이지가기
        function goUpdate(){
            // alert("goUpdate");
            //location.href = "/oracle/mem_update/";
            fm = document.getElementById("fm");
            // url 정의
            fm.action = "/oracle/mem_update/";
            // 전송시키기
            fm.submit();
        }
    </script>
</head>
<body>
<form id="fm" method="post" action="#">
    {% csrf_token %}
    <!-- name을 지정하는 방법 중에 화면에 보이지 않게 처리하는 방식 -->
    <input type="hidden" name="mem_id" value="{{ mem_id }}">
    ------------------{{ mem_id }}

    <h3>회원관리 - 수정하기</h3>
    <hr>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>패스워드</th>
            <th>이름</th>
            <th>주소1</th>
        </tr>
        <tr>
            <td>{{ mem_view.mem_id }}</td>
            <td>
                <input type="text" name="mem_pass" 
                        value="{{ mem_view.mem_pass }}">
            </td>
            <td>{{ mem_view.mem_name }}</td>
            <td>
                <input type="text" name="mem_add1" 
                        value="{{ mem_view.mem_add1 }}">
            </td>
        </tr>
    </table>
</form>
    <hr>
    <button onclick="goBack()">취소</button>
    <button onclick="goUpdate()">수정</button>
</body>
</html>